/*******************************Imagen marca de Agua logo*******************************************************/
.marcaagua {
   width:100%;
   height: 100%;
    max-width:1000px;
    max-height:400px;
    margin-top: 3%; 
   display: block;
    margin-left: auto;
    margin-right: auto;
}


/***************************** etiquetas ********************************************************/


video {
    width:100%; 
    max-width:500px; 
    height:auto; 
}



/***************************** clases ********************************************************/



.izq
{
    
    border: solid black 2px; 
    border-radius: 10px;
    background-color: red;
    float: left;
    margin-left: 10px;
    height: 400px;
    width: 25%;
    
   
   
}


.der
{
    border: solid black 2px;
    border-radius: 10px;
    background-color: aqua;
    height: 400px;
    margin-left: 30%;
    width: 65%;
   
    
}




/********* modal ayuda *****************************************************************/

.ayuda
{
    height: 80%;
    
}



/***************************** id ********************************************************/